version: 1
formatters:
  simpleFormatter:
    format: '%(asctime)s- %(levelname)s - %(name)s - %(threadName)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: simpleFormatter
    stream: ext://sys.stdout
loggers:
  calculation:
    level: DEBUG
    handlers: [console]
    propagate: no
root:
  level: DEBUG
  handlers: [console]